#container {
  width: 600px;
  background-color: #12b886;
  padding: 1rem;
  gap: 1rem;
  box-shadow: rgb(72, 72, 72) 0 0 5px 0;
  border-radius: 20px;
}

.card {
  width: calc(100% / 4 - 15px);
  aspect-ratio: 1;
  font-size: 2.5rem;
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
}

.hidden,
.showed {
  box-shadow: rgb(72, 72, 72) 0 0 5px 0;

  border-radius: 10px;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.7s;
}

.hidden {
  transform: rotateY(-180deg);
}

.showed {
  transform: rotateY(0);
  color: #12b886;
  background-color: #3b5bdb;
}

.reveal .hidden,
.matched .hidden {
  transform: rotateY(0);
}

.reveal .showed,
.matched .showed {
  transform: rotateY(-180deg);
}
